html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  line-height: 1.8rem;
}

#showcase {
  position: relative;
  z-index: 0;
  display: block;
  box-sizing: border-box;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/marvin-meyer-SYTO3xs06fU-unsplash.jpg"); /* iamge, repeat, position, position, cover */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(0.25);
  z-index: -1;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 20vh;
  padding: 0;
  margin: 0;
}

.icon {
  position: absolute;
  top: 1vh;
  left: 1vh;
  z-index: 10;

  transition: all 0.25s ease-in-out;
  background: transparent;
  color: black;
  display: block;
  padding: 0;
  margin: 0;
}

#nav-panel {
  height: 100%;
  background: rgba(15, 15, 15, 0.75);
  padding-left: 3vh;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0px 20vw;
}

#nav-panel a {
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.bg-grey {
  background-color: #dedede50;
}

.grow {
  transition: all 0.25s ease-in-out;
}
.grow:hover {
  transform: scale(2);
}

@media (prefers-reduced-motion: no-preference) {
  .blink {
    animation: blink infinite 1s ease-in-out;
  }

  .rotate-right {
    animation: rotate-right 0.25s ease-in-out forwards;
  }

  .rotate-left {
    animation: rotate-left 0.25s ease-in-out forwards;
  }

  .slide-down {
    animation: slide-down 0.25s ease-in-out forwards;
  }

  .slide-up {
    animation: slide-up 0.25s ease-in-out forwards;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100%);
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: white;
  background: linear-gradient(
    rgba(42, 42, 47, 1) 0%,
    rgba(95, 15, 101, 1) 15%,
    rgba(142, 53, 113, 1) 30%,
    rgba(123, 132, 185, 1) 45%,
    rgba(44, 187, 108, 1) 60%,
    rgba(255, 177, 0, 1) 75%,
    rgba(240, 23, 80, 0.9374124649859944) 90%
  );
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
