html {
  scroll-behavior: smooth;
}
#showcase {
  position: relative;
  z-index: 0;
  display: block;
  box-sizing: border-box;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/webdev.jpg"); /* iamge, repeat, position, position, cover */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(0.25);
  z-index: -1;
}

.card-img-top {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.bg-grey {
  background-color: #dedede50;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #999;
}
