/*  GLOBAL ALTERATIONS  */

:root {
  /* background: linear-gradient(
    70deg,
    rgba(128, 0, 128, 0.75),
    rgba(255, 166, 0, 0.75),
    rgba(0, 255, 255, 0.75)
  ); */
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

/*  MAIN CONTENT AREA   */

#content-area {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  margin: auto;
}

.container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 3px;
  overflow-wrap: normal;
}

.container .box {
  width: 50%;
  margin: auto;
}

.box h1 {
  border-bottom: 4px solid #222;
  font-size: 3vw;
  font-weight: 600;
  color: #444;
}

.box p {
  padding-left: 10px;
  border-left: 4px solid lightgray;
  font-size: 1vw;
  font-weight: 300;
  line-height: 3vh;
}

.box a {
  text-decoration: none;
  font-weight: 600;
  color: orange;
}

.box img {
  padding-left: 5px;
  width: 30px;
  height: 30px;
}

/*  NAV BAR ON THE RIGHT SIDE */

#side {
  /*  Locking side bar to right */
  width: auto;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 5px;
  margin: 0;
  /*  Easy even spacing */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /*  Aesthetic */
  background-color: black;
  color: white;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2rem;
}

#side a {
  text-decoration: none;
  color: white;
  margin-top: 50px;
  margin-bottom: 5px;
}

#side .nav-wrapper {
  margin: 1px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

#side img {
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  #side {
    height: 10vh;
    width: 100%;
    flex-flow: row;
    font-size: 3vw;
    justify-content: flex-start;
    line-height: 3vh;
  }

  #side .nav-wrapper {
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }

  #side a {
    margin: 0;
    margin-right: 40px;
  }

  #side img {
    width: 80px;
    height: 80px;
  }

  #content-area {
    width: 100%;
  }

 .box {
   width: 100%;
 }

  .box h1 {
    font-size: 8vw;
  }

  .box p {
    font-size: 3vw;
    line-height: 5vh;
  }
}